
////////
// COLOR CONSTANTS
////////

@color-text: black;
@color-h: #333333ff;
@color-1: #7bcc03ff;
@color-2: #eef10aff;

////////
// DESKTOP
////////

@limit-width: 940px;
@limit-width_: @limit-width+1;
// scale factor
@s-f: 9.4;
// grid sizes desktop
@x_     : 20;
@xI     : 60;
@xI_    : @x_ + @xI;
@x2I    : 2 * @xI + @x_;
@x2I_   : 2 * @xI + 2 * @x_;
@x3I    : @x_ * 2 + @xI * 3;
@x4I    : @x_ * 3 + @xI * 4; 
@x6I    : @x_ * 5 + @xI * 6;
// grid sizes mob
@m_: 20;
@m__: @m_ * 2;
@mI: 100;
@mI_: @mI + @m_;
@m4I: @mI * 4 + @m_ * 3;

////////
// MOBILE
////////
@mob-width: 500px;
@mob-width_: @mob-width + 1;
@m-fg: 5;
@m-ft: 3;

///////
// MEDIA SIZES 
///////
@m-s: ~"(max-width: @{mob-width})";
@m-m: ~"(min-width: @{mob-width_}) and (max-width: @{limit-width})";
@m-ml: ~"(min-width: @{mob-width_})";
@m-l: ~"(min-width: @{limit-width_})";


///////
// HORIZONTAL GRID
///////
@hs1: 12;
@hs2: @hs1*2;

@hr-height: 4;

///////
// MACROS
//////
@val: 0;
@calc-l: ~"@{val}px";
@calc-m: ~"calc(@{val}vw/@{s-f})";
@calc-mob-text: ~"calc(@{val}vw/@{m-ft})";
@calc-mob-grid: ~"calc(@{val}vw/@{m-fg})";

///////
// FONTS
///////
@primary-font: 'Nunito Sans', sans-serif;
// @primary-font: 'Jura', sans-serif;
// @primary-font: 'Comfortaa', sans-serif; 

//////
// Font-sizes
// winword alike styles:
// title1, subtitle
// h1, h2 ....
// main, small
@font-size-p: 18;
#fonts {
    .title {
        @val: 48;
        font-weight: 100;
        text-transform: uppercase;
        @media @m-l {
            font-size: @calc-l;
            line-height: @calc-l;
        }
        @media @m-m {
            font-size: @calc-m;
            line-height: @calc-m;
        }
        @media @m-s {
            font-size: @calc-mob-grid;
            line-height: @calc-mob-grid;
        }
    }
    .subtitle {
        @val: 30;
        font-weight: 200;
        text-transform: uppercase;
        @media @m-l {
            font-size: @calc-l;
            line-height: @calc-l;
        }
        @media @m-m {
            font-size: @calc-m;
            line-height: @calc-m;
        }
        @media @m-s {
            font-size: @calc-mob-grid;
            line-height: @calc-mob-grid;
        }
    }
    .p {
        @val: @font-size-p;
        font-weight: 200;
        @media @m-l {
            font-size: @calc-l;
            line-height: @calc-l;
        }
        @media @m-m {
            font-size: @calc-m;
            line-height: @calc-m;
        }
        @media @m-s {
            font-size: @calc-mob-text;
            line-height: @calc-mob-text;
        }
    }
    .small {
        @val: 14;
        font-weight: 200;
        @media @m-l {
            font-size: @calc-l;
            line-height: @calc-l;
        }
        @media @m-m {
            font-size: @calc-m;
            line-height: @calc-m;
        }
        @media @m-s {
            font-size: @calc-mob-text;
            line-height: @calc-mob-text;
        }
    }
    .h2 {
        @val: 24;
        font-weight: 900;
        text-transform: uppercase;
        @media @m-l {
            font-size: @calc-l;
            line-height: @calc-l;
        }
        @media @m-m {
            font-size: @calc-m;
            line-height: @calc-m;
        }
        @media @m-s {
            font-size: @calc-mob-text;
            font-weight: @calc-mob-text;
        }
    }
    .h3 {
        @val: 18;
        font-weight: 900;
        text-transform: uppercase;
        @media @m-l {
            font-size: @calc-l;
            line-height: @calc-l;
        }
        @media @m-m {
            font-size: @calc-m;
            line-height: @calc-m;
        }
        @media @m-s {
            font-size: @calc-mob-text;
            line-height: @calc-mob-text;
        }
    }
}









#mt {
    .x0 {
        margin-top: 0;
    }
    .x1 {
        @val: @hs1;
        @media @m-l {
            margin-top: @calc-l;
        } 
        @media @m-m {
            margin-top: @calc-m;
        } 
        @media @m-s {
            margin-top: @calc-mob-grid;
        }    
    } 
    .x4 {
        @val: @hs1 * 4;
        @media @m-l {
            margin-top: @calc-l;
        }
        @media @m-m {
            margin-top: @calc-m;
        }
        @media @m-s {
            margin-top: @calc-mob-grid;
        }
    }
}

#mb {
    .x0 {
        margin-bottom: 0;
    }
    .x1 {
        @val: @hs1;
        @media @m-l {
            margin-bottom: @calc-l;
        } 
        @media @m-m {
            margin-bottom: @calc-m;
        } 
        @media @m-s {
            margin-bottom: @calc-mob-grid;
        }
    }
    .x2 {
        @val: @hs2;
        @media @m-l {
            margin-bottom: @calc-l;
        }
        @media @m-m {
            margin-bottom: @calc-m;
        }
        @media @m-s {
            margin-bottom: @calc-mob-grid;
        }
    }
}

#ml {
    .x0 {
        @media @m-ml {
            margin-right: 0;
        } 
    }
    .x_ {
        @val: @x_;
        @media @m-l {
            margin-left: @calc-l;
        } 
        @media @m-m {
            margin-left: @calc-m;
        } 
    }
    .xI {
        @val: @xI;
        @media @m-l {
            margin-left: @calc-l;
        } 
        @media @m-m {
            margin-left: @calc-m;
        } 
    }
    .xI_ {
        @val: @xI_;
        // #props.margin-left;
        @media @m-l {
            margin-left: @calc-l;
        } 
        @media @m-m {
            margin-left: @calc-m;
        } 
    }

    .m0 {
        @media @m-s {
            margin-left: 0;
        }
    }
    .m2 {
        @val: @hs2;
        @media @m-s {
            margin-left: @calc-mob-grid;
        }
    }
    .m_ {
        @val: @m_;
        @media @m-s {
            margin-left: @calc-mob-grid;         
        }
    }
}

#mr {
    .x0 {
        margin-right: 0;
    }
    .x_ {
        @val: @x_;
        @media @m-l {
            margin-right: @calc-l;
        } 
        @media @m-m {
            margin-right: @calc-m;
        }
    }
    .xI {
        @val: @xI;
        @media @m-l {
            margin-right: @calc-l;
        } 
        @media @m-m {
            margin-right: @calc-m;
        }
    }
    .xI_ {
        @val: @xI_;
        @media @m-l {
            margin-right: @calc-l;
        } 
        @media @m-m {
            margin-right: @calc-m;
        } 
    }

    .m0 {
        @media @m-s {
            margin-right: 0;
        }
    }
    .m2 {
        @val: @hs2;
        @media @m-s {
            margin-right: @calc-mob-grid;
        }
    }
    .m_ {
        @val: @m_;
        @media @m-s {
            margin-right: @calc-mob-grid;         
        }
    }
}

#mp {
    .x0 {
        margin: 0;
    }
}

#pl {
    .x0 {
        padding-left: 0;
    }
    .x1 {
        @val: @hs1;
        @media @m-l {
            padding-left: @calc-l;
        } 
        @media @m-m {
            padding-left: @calc-m;
        } 
        @media @m-s {
            padding-left: @calc-mob-grid;
        }
    }
    .x2 {
        @val: @hs2;
        @media @m-l {
            padding-left: @calc-l;
        }
        @media @m-m {
            padding-left: @calc-m;
        }
        @media @m-s {
            padding-left: @calc-mob-grid;
        }
    }
    .x2-bull {
        @val: @hs2;
        @media @m-s {
            padding-left: @calc-mob-text;
        }
    }
    .x_ {
        @val: @x_;
        @media @m-l {
            padding-left: @calc-l;
        } 
        @media @m-m {
            padding-left: @calc-m;
        } 
    }
    .xI {
        @val: @xI;
        @media @m-l {
            padding-left: @calc-l;
        } 
        @media @m-m {
            padding-left: @calc-m;
        } 
    }
    .xI_ {
        @val: @xI_;
        @media @m-l {
            padding-left: @calc-l;
        } 
        @media @m-m {
            padding-left: @calc-m;
        } 
    }
    .x2I {
        @val: @x2I;
        @media @m-l {
            padding-left: @calc-l;
        }
        @media @m-m {
            padding-left: @calc-m;
        }
    }
    .x2I_ {
        @val: @x2I_;
        @media @m-l {
            padding-left: @calc-l;
        }
        @media @m-m {
            padding-left: @calc-m;
        }
    }
    .x3I {
        @val: @x3I; 
        @media @m-l {
            padding-left: @calc-l;
        }
        @media @m-m {
            padding-left: @calc-m;
        }
    }

    .m0 {
        @media @m-s {
            padding-left: 0;
        }
    }
    .m_ {
        @val: @m_;
        @media @m-s {
            padding-left: @calc-mob-grid;         
        }
    }
    .m__ {
        @val: @m__;
        @media @m-s {
            padding-left: @calc-mob-grid;
        }
    }
}

#pr {
    .x0 {
        padding-right: 0;
    }
    .x1 {
        @val: @hs1;
        @media @m-l {
            padding-right: @calc-l;
        } 
        @media @m-m {
            padding-right: @calc-m;
        } 
        @media @m-s {
            padding-right: @calc-mob-grid;
        }
    }
    .x2 {
        @val: @hs2;
        @media @m-l {
            padding-right: @calc-l;
        }
        @media @m-m {
            padding-right: @calc-m;
        }
        @media @m-s {
            padding-right: @calc-mob-grid;
        }
    }
    .x2-bull {
        @val: @hs2;
        @media @m-s {
            padding-right: @calc-mob-text;
        }
    }
    .x_ {
        @val: @x_;
        @media @m-l {
            padding-right: @calc-l;
        } 
        @media @m-m {
            padding-right: @calc-m;
        } 
    }
    .xI {
        @val: @xI; // 60
        @media @m-l {
            padding-right: @calc-l;
        } 
        @media @m-m {
            padding-right: @calc-m;
        } 
    }
    .xI_ {
        @val: @xI_;
        @media @m-l {
            padding-right: @calc-l;
        } 
        @media @m-m {
            padding-right: @calc-m;
        } 
    }
    .x2I {
        @val: @x2I;
        @media @m-l {
            padding-right: @calc-l;
        }
        @media @m-m {
            padding-right: @calc-m;
        }
    }
    .x3I {
        @val: @x3I;
        @media @m-l {
            padding-right: @calc-l;
        }
        @media @m-m {
            padding-right: @calc-m;
        }
    }

    .m0 {
        padding-right: 0;
    }
    .m_ {
        @val: @m_;
        @media @m-s {
            padding-right: @calc-mob-grid;         
        }
    }
    .m__ {
        @val: @m__;
        @media @m-s {
            padding-right: @calc-mob-grid;
        }
    }
}

#pt {
    .x2 {
        @val: @hs2;
        @media @m-l {
            padding-top: @calc-l;
        } 
        @media @m-m {
            padding-top: @calc-m;
        }
        @media @m-s {
            padding-top: @calc-mob-grid;
        }
    }
}

#pb {
    .x1 {
        @val: @hs1;
        @media @m-l {
            padding-bottom: @calc-l;
        }
        @media @m-m {
            padding-bottom: @calc-m;
        }
        @media @m-s {
            padding-bottom: @calc-mob-grid;
        }
    }
    .x2 {
        @val: @hs2;
        @media @m-l {
            padding-bottom: @calc-l;
        }
        @media @m-m {
            padding-bottom: @calc-m;
        }
        @media @m-s {
            padding-bottom: @calc-mob-grid;
        }
    }
}


#pp {
    .x0 {
        padding: 0;
    }
    .x2 {
        @val: @hs2;
        @media @m-l {
            padding: @calc-l;
        }
        @media @m-m {
            padding: @calc-m;
        }
        @media @m-s {
            padding: @calc-mob-grid;
        }
    }
}

#xx {
    .xx {
        @media (min-width: @limit-width_) {
 
        } 
        @media (min-width: @mob-width_) and (max-width: @limit-width) {
 
        } 
        @media (max-width: @mob-width) {
         
        }
    } 
 }