@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

/* sizes policy. There are 3 staes of the page:
1. 940+ px: maximum size, 12 column grid, 1px = 1pt;
2. 500 to 940px: smooth scaling 1pt -> 1wv/9.4;
3. less then 500 px: mobile mode
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    /* background-color: lightgray; */
    /* text-align: center; */
    margin-top: 0;
    margin-left: calc((100vw - 940px)/2);
}
@media  (max-width: 940px) {
    body {
        /* background-color: aqua; */
        margin-left: 0;
    }    
}


.main {
    background-color: white;
    width: 940px;
}
@media  (max-width: 940px) {
    .main {
        /* background-color: aqua; */
        width: 100vw;
    }    
}


.menu-body {
    text-align: right;
}
@media (min-width: 940px) {
    .menu-body {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 80px;
        margin-right: 80px;
        height: 66px;
    }
}
@media  (min-width:501px) and (max-width: 940px) {
    .menu-body {
        margin-top: calc(12vw/9.4);
        margin-bottom: calc(12vw/9.4);
        margin-left: calc(80vw/9.4);
        margin-right: calc(80vw/9.4);
        height: calc(66vw/9.4);
    }
}
@media (max-width: 501px) {
    .menu-body {
        margin-top: calc(12vw/5);
        margin-bottom: calc(12vw/5);
        margin-left: calc(20vw/5);
        margin-right: calc(20vw/5);
        text-align: center;
    }
}


.menu-items {
    padding-top: 52px;
    line-height: 14px;
    font-size: 14px;
    text-transform: uppercase;
    list-style-type: none;
}
@media  (max-width: 940px) {
    .menu-items {
        padding-top: calc(52vw/9.4);
        line-height: calc(14vw/9.4);
        font-size: calc(14vw/9.4);
    }
}
@media (max-width: 501px) {
    .menu-items {
        margin: 0px;
        padding-top: calc(12vw/5);
        padding-left: 0px;
        font-size: calc(14vw/3);
        line-height: calc(18vw/3);
    }
}

.menu-items a{
    transition: text-decoration 2s ease;
    display: inline;
    color: black;
    text-decoration: underline;
    text-decoration-color: white;
}
@media (min-width: 940px) {
    .menu-items a{
        padding-left: 12px;
        padding-right: 12px;
        border-right: 3px #333333ff solid;
        text-decoration-thickness: 2px;    
    }
}
@media (min-width: 501px) and (max-width: 940px) {
    .menu-items a   {
        padding-left: calc(12vw/9.4);
        padding-right: calc(12vw/9.4);
        border-right: calc(4vw/9.4) #333333ff solid;
        text-decoration-thickness: calc(2vw/9.4);
    }
}
@media (max-width: 501px) {
    .menu-items a {
        display: block;
    }
}
.menu-items a:last-child{
    padding-right: 0px;
    border: none;
}

.menu-items a:hover {
    /* transition: text-decoration 2s ease; */
    text-decoration-color: #7bcc03ff;
}

.menu hr {
    border: 0;
    height: 4px;
    background: #333333ff
}
@media  (max-width: 940px) {
    .menu hr {
        border: 0;
        height: calc(4vw/9.4);
        background: #333333ff
    }  
}


.logo {
    float: left;
}
@media (min-width: 940px) {
    .logo{
        height: 66px;
    }    
}
@media (min-width: 501px) and (max-width: 940px) {
    .logo {
        height: calc(66vw/9.4);
    }
}
@media (max-width: 501px) {
    .logo {
        float:initial;
        width: calc(220vw/5);
    }
}


.content {
    margin-left: 80px;
    margin-right: 80px;
}
@media  (max-width: 940px) {
    .content {
        margin-left: calc(80vw/9.4);
        margin-right: calc(80vw/9.4);
    }
}
@media (max-width: 501px) {
    .content {
        margin-left: calc(20vw/5);
        margin-right: calc(20vw/5);
    }
}


.block {
    margin-top: 48px;
    display: block;
}
@media  (max-width: 940px) {
    .block {
        margin-top: calc(48vw/9.4);
    }
}
@media (max-width: 500px) {
    .block {
        margin-top: calc(48vw/5);
    }
} @media print {
    .block {
      break-inside: avoid;
    }
}


.title {
    margin: 0;
    font-weight: 100;
    font-size: 48px;
    line-height: 48px;
    text-align: right;
    text-transform: uppercase;
    color:#333333ff;
}
@media (max-width: 940px) {
    .title {
        font-size: calc(48vw/9.4);
        line-height: calc(48vw/9.4);
    }
}
@media (max-width: 501px) {
    .title {
        font-size: calc(48vw/5);
        line-height: calc(48vw/5);
    }
}

.sub {
    font-size: 30px;
    line-height: 30px;
    font-weight: 200;
} @media (max-width: 940px) {
    .sub {
        font-size: calc(30vw/9.4);
        line-height: calc(30vw/9.4);    
    }
} @media (max-width: 501px) {
    .sub {
        font-size: calc(30vw/5);
        line-height: calc(30vw/5);    
    }
}


/* ************ */
/*   CLASSES    */
/* ************ */

.img-one {
    width: 252px;
    /* background-color: #eef10aff; */
    background: url("../img/L.png");
    background-image: url("../img/L.png"), url("../img/T.png");  
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    padding: 24px;
    /* background: linear-gradient(-45deg, #7bcc03ff, rgba(255,0,0,0) 70.7%);    */
}
@media (max-width: 940px) {
    .img-one {
        width: calc(252vw/9.4);
        background-size: calc(140vw/9.4) calc(140vw/9.4) ,calc(140vw/9.4) calc(140vw/9.4) ;
        padding: calc(24vw/9.4);
    }
}
@media (max-width: 501px) {
    .img-one {
        width: calc(412vw/5);
        background-size: calc(140vw/5) calc(140vw/5) ,calc(140vw/5) calc(140vw/5) ;
        padding: calc(24vw/5);
    }
}
.szs .img-one {
    background-image: url("../img/L-szs.svg"), url("../img/T-szs.svg");      
}


.paragraph {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    hanging-punctuation: last force-end;
}
@media (max-width: 940px) {
    .paragraph {
        font-size: calc(18vw/9.4);
        line-height: calc(18vw/9.4);
    }
}
@media (max-width: 501px) {
    .paragraph {
        font-size: calc(18vw/3);
        line-height: calc(18vw/3);
    }
}

h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color:#333333ff;
} @media (max-width: 940px) {
    h2 {
        font-size: calc(24vw/9.4);
        line-height: calc(24vw/9.4);
    }
} @media (max-width: 501px) {
    h2 {
        font-size: calc(20vw/3);
        line-height: calc(20vw/3);
    }
}

h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0px;
    padding-bottom: 12px;
    color:#333333ff;
}
@media (max-width: 940px) {
    h3 {
        font-size: calc(18vw/9.4);
        line-height: calc(18vw/9.4);
        padding-bottom: calc(12vw/9.4);
    }
}
@media (max-width: 501px) {
    h3 {
        font-size: calc(18vw/3);
        line-height: calc(18vw/3);
        padding-bottom: calc(12vw/3);
    }
}

.paragraph div {
    padding-bottom: 12px;
} @media (max-width: 940px) {
    .paragraph h3 {
        padding-bottom: calc(12vw/9.4);
    }
} @media (max-width: 501px) {
    .paragraph h3 {
        font-size: calc(18vw/3);
    }
}

ul.points {
    list-style-type: none;
}
ul.points li {
    padding-left: 24px;
    margin-bottom: 12px;
    background-image: url(../img/ne-bull.svg);
    background-repeat: no-repeat;
} @media (max-width: 940px) {
    ul.points li {
        padding-left: calc(24vw/9.4);
        margin-bottom: calc(12vw/9.4);
        background-size: calc(18vw/9.4) calc(18vw/9.4);
    }
} @media (max-width: 501px) {
    ul.points li {
        padding-left: calc(24vw/3);
        margin-bottom: calc(12vw/5);
        background-size: calc(18vw/3) calc(18vw/3);
    }
}
ul.szs li {
    background-image: url(../img/szs-bull.svg);
}

/* ************ */
/*   BLOCKS     */
/* ************ */

.img-text .img-one {
    float: left;
    margin-right: 20px;
}
.img-text .paragraph {
    padding-top: 24px;
}
.img-text hr {
    border: 0;
    height: 1px;
    color: white;
    width: 780px;        
}
@media (max-width: 940px) {
    .img-text .img-one {
        margin-right: calc(20vw/9.4);
    }
    .img-text .paragraph {
        padding-top: calc(24vw/9.4);
    }
    .img-text hr {
        width: calc(780vw/9.4);        
    }
}
@media (max-width: 501px) {
    .img-text .img-one {
        float: initial;
        margin-right: calc(20vw/5);
    }
    .img-text .paragraph {
        padding-top: calc(24vw/5);
        margin-left: calc(24vw/5);
        margin-right: calc(24vw/5);
    }
    .img-text hr {
        display: none;        
    }    
}



.img-one img{
    width: 252px;
    display: block;
}
@media (max-width: 940px) {
    .img-one img{
        width: calc(252vw/9.4);
    }
}
@media (max-width: 501px) {
    .img-one img {
        width: calc(412vw/5);
    }
}


.small-middle .paragraph{
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}
@media (max-width: 940px) {
    .small-middle .paragraph{
        font-size: calc(14vw/9.4);
        line-height: calc(14vw/9.4);
    }
}
@media (max-width: 501px) {
    .small-middle .paragraph {
        font-size: calc(14vw/3);
        line-height: calc(14vw/3);
    }
}

.l-step {
    border-left: 20px solid #7bcc03ff;
} .l-step h2 {
    margin-left: 20px;
    margin-bottom: 24px;
} .l-step .paragraph {
    padding-left: 140px;
    padding-right: 60px;
    padding-bottom: 24px;
} .l-step img {
    width: 300px;
    padding-left: 220px;
    padding-bottom: 24px;
} @media (max-width: 940px) {
    .l-step {
        border-left: calc(20vw/9.4) solid #7bcc03ff;
    } .l-step h2 {
        margin-left: calc(20vw/9.4);
        margin-bottom: calc(24vw/9.4);
    } .l-step .paragraph {
        padding-left: calc(140vw/9.4);
        padding-right: calc(60vw/9.4);
        padding-bottom: calc(24vw/9.4);
    } .l-step img {
        width: calc(300vw/9.4);
        padding-left: calc(220vw/9.4);
        padding-bottom: calc(24vw/9.4);
    }
} @media (max-width: 501px) {
    .l-step {
        border-left: calc(20vw/5) solid #7bcc03ff;
    } .l-step h2 {
        margin-left: calc(20vw/5);
        margin-bottom: calc(24vw/5);
    } .l-step .paragraph {
        padding-left: calc(40vw/5);
        padding-right: calc(60vw/5);
        padding-bottom: calc(24vw/5);
    } .l-step img {
        width: calc(400vw/5);
        padding-left: calc(40vw/5);
        padding-bottom: calc(24vw/5);
    }
}


.r-step {
    border-right: 20px solid #7bcc03ff;
    text-align: right;
} .r-step h2 {
    margin-right: 20px;
    margin-bottom: 24px;
} .r-step .paragraph {
    padding-right: 140px;
    padding-left: 60px;
    padding-bottom: 24px;
} .r-step img {
    width: 300px;
    padding-right: 220px;
    padding-bottom: 24px;
} @media (max-width: 940px) {
    .r-step {
        border-right: calc(20vw/9.4) solid #7bcc03ff;
    } .r-step h2 {
        margin-right: calc(20vw/9.4);
        margin-bottom: calc(24vw/9.4);
    } .r-step .paragraph {
        padding-right: calc(140vw/9.4);
        padding-left: calc(60vw/9.4);
        padding-bottom: calc(24vw/9.4);
    } .r-step img {
        width: calc(300vw/9.4);
        padding-right: calc(220vw/9.4);
        padding-bottom: calc(24vw/9.4);
    }
} @media (max-width: 501px) {
    .r-step {
        border-right: calc(20vw/5) solid #7bcc03ff;
    } .r-step h2 {
        margin-right: calc(20vw/5);
        margin-bottom: calc(24vw/5);
    } .r-step .paragraph {
        padding-right: calc(40vw/5);
        padding-left: calc(60vw/5);
        padding-bottom: calc(24vw/5);
    } .r-step img {
        width: calc(400vw/5);
        padding-right: calc(40vw/5);
        padding-bottom: calc(24vw/5);
    }
}


.line hr {
    border: 0;
    height: 4px;
    background: #333333ff
}
@media (max-width: 940px) {
    .line hr {
        border: 0;
        height: calc(4vw/9.4);
        /* height: 1px; */
        background: #333333ff
    }  
} 


.programs {
    text-align: center;
} .programs h2 {
    margin-bottom: 24px;
} .programs .h3 {
    margin-bottom: 12px;
} .programs img {
    margin-bottom: 12px;
} .programs .paragraph {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align:top;
} .programs a {
    display: block;
    font-weight: bold;
    text-align: right;
    color:#333333ff;
    margin-top: 12px;
    padding-right: 24px;
    background-image: url(../img/ne-bull.svg);
    background-position: top right;
    background-repeat: no-repeat;
} .programs a.szs {
    background-image: url(../img/szs-bull.svg);
} @media (max-width: 940px) {
    .programs h2 {
        margin-bottom: calc(24vw/9.4);
    } .programs .h3 {
        margin-bottom: calc(12vw/9.4);
    } .programs img {
        margin-bottom: calc(12vw/9.4);
    } .programs .paragraph {
        width: calc(300vw/9.4);
        margin-right: calc(10vw/9.4);
        margin-left: calc(10vw/9.4);
    } .programs a {
        margin-top: calc(12vw/9.4);
        padding-right: calc(24vw/9.4);
        background-size: calc(18vw/9.4) calc(18vw/9.4);
    }
} @media (max-width: 501px) {
    .programs h2 {
        margin-bottom: calc(24vw/5);
    } .programs .h3 {
        margin-bottom: calc(12vw/5);
    } .programs img {
        margin-bottom: calc(12vw/5);
    } .programs .paragraph {
        display: block;
        width: calc(460vw/5);
        margin-right: calc(20vw/5);
    } .programs a {
        margin-top: calc(12vw/5);
        padding-right: calc(24vw/3);
        background-size: calc(18vw/3) calc(18vw/3);
        margin-bottom: calc(24vw/5);
        padding-bottom: calc(24vw/5);
    }
}

.programs .paragraph:last-of-type {
    /* margin-left: 0; */
    margin-bottom: 0;
}

.key-points h2 {
    text-align: center;
    margin-bottom: 24px;
} .key-points .paragraph {
    padding-left: 80px;
    padding-right: 80px;
} @media (max-width: 940px) {
    .key-points h2 {
        margin-bottom: calc(24vw/9.4);
    } .key-points .paragraph {
        padding-left: calc(80vw/9.4);
        padding-right: calc(80vw/9.4);
    }
} @media (max-width: 501px) {
    .key-points h2 {
        margin-bottom: calc(24vw/5);
    } .key-points .paragraph {
        padding-left: 0;
        padding-right: 0;
    }
}

.contacts .col1 {
    width: 460px;
    display: inline-block;
    vertical-align: top;
} .contacts .col2 {
    width: 315px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
} .contacts h2 {
    margin-left: 80px;
    margin-bottom: 12px;
} .contacts .col1 .paragraph {
    margin-left: 80px;    
} .contacts .brick1 {
    background-color: #eef10aff;
    width: 220px;
    height: 20px;
} .contacts .col2 .paragraph {
    margin-top: 56px;
    margin-right: 40px;
} .contacts .brick2 {
    width: 20px;
    height: 92px;
    float: right;
    background-color: #eef10aff;
} .contacts .col2 b{
    font-weight: 900;
    color:#333333ff;
} @media (max-width: 940px) {
    .contacts .col1 {
        width: calc(460vw/9.4);
    } .contacts .col2 {
        width: calc(310vw/9.4);
    } .contacts h2 {
        margin-left: calc(80vw/9.4);
        margin-bottom: calc(12vw/9.4);
    } .contacts .col1 .paragraph {
        margin-left: calc(80vw/9.4);    
    } .contacts .brick1 {
        width: calc(220vw/9.4);
        height: calc(20vw/9.4);
    } .contacts .col2 .paragraph {
        margin-top: calc(56vw/9.4);
        margin-right: calc(40vw/9.4);
    } .contacts .brick2 {
        width: calc(20vw/9.4);
        height: calc(92vw/9.4);
        background-color: #eef10aff;
    }
} @media (max-width: 501px) {
    .contacts .col1 {
        width: 100%;
        display: block;
    } .contacts .col2 {
        width: 100%;
        display: block;
    } .contacts h2 {
        margin-left: calc(20vw/5);
        margin-bottom: calc(12vw/3);
    } .contacts .col1 .paragraph {
        margin-left: calc(20vw/5);    
    } .contacts .brick1 {
        width: calc(220vw/5);
        height: calc(20vw/5);
    } .contacts .col2 .paragraph {
        margin-top: calc(56vw/5);
        margin-right: calc(40vw/5);
    } .contacts .brick2 {
        width: calc(20vw/5);
        height: calc(92vw/5);
        background-color: #eef10aff;
    }
}

.results {
    text-align: center;
} .results h2 {
    margin-bottom: 24px;
} .results .vid {
    border: none;
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
} @media (max-width: 940px) {
    .results h2 {
        margin-bottom: calc(24vw/9.4);
    } .results .vid {
        width: calc(220vw/9.4);
        margin-left: calc(10vw/9.4);
        margin-right: calc(10vw/9.4);
    }
}

.cta {
    text-align: right;
} .cta a {
    display: inline-block;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    background: 
        /* url(../img/ne-bull.svg) center right no-repeat content-box, */
        /* linear-gradient(-45deg, #ffffff00 0 45%, white 45% 55%, #ffffff00 55% 100%), */
        linear-gradient(90deg, #7bcc03ff 0 20px, white 20px 32px, #ffffff00 20px 100%),
        linear-gradient(0deg, #333333ff 0 3px, #ffffff00 3px 100%),
        linear-gradient(180deg, #333333ff 0 3px, #ffffff00 3px 100%),
        linear-gradient(270deg, #333333ff 0 3px, #ffffff00 3px 100%)
        ;
    border: none;
    font-weight: 900;
    font-size: 18px;
    color: #333333ff;
    padding: 12px;
    min-width: 216px;
} .cta a:hover {
    background-image: url(../img/ne-bull.svg);
    background: 
        url(../img/ne-bull.svg) center right no-repeat content-box, 
        /* linear-gradient(-45deg, #ffffff00 0 45%, #eef10aff 45% 55%, #ffffff00 55% 100%), */
        linear-gradient(90deg, #eef10aff 0 20px, white 20px 32px, #ffffff00 20px 100%),
        linear-gradient(0deg, #333333ff 0 3px, #ffffff00 3px 100%),
        linear-gradient(180deg, #333333ff 0 3px, #ffffff00 3px 100%),
        linear-gradient(270deg, #333333ff 0 3px, #ffffff00 3px 100%)
        ;
} @media (max-width: 940px) {
    .cta a {
        background: 
            /* url(../img/ne-bull.svg) center right no-repeat content-box, */
            /* linear-gradient(-45deg, #ffffff00 0 45%, white 45% 55%, #ffffff00 55% 100%), */
            /* linear-gradient(90deg, RED 0 calc(20vw/9.4), white calc(20vw/9.4) calc(32vw/9.4), #ffffff00 calc(32vw/9.4) 100%),
            linear-gradient(0deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%),
            linear-gradient(180deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%),
            linear-gradient(270deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(vw/9.4) 100%) */
            linear-gradient(90deg, red 0 calc(20vw/9.4), white calc(20vw/9.4) 32px, #ffffff00 20px 100%),
            linear-gradient(0deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%),
            linear-gradient(180deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%),
            linear-gradient(270deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%)
        ;
        font-size: calc(18vw/9.4);
        padding: calc(12vw/9.4);
        min-width: calc(216vw/9.4);
    } .cta a:hover {
        background: 
            url(../img/ne-bull.svg) center right no-repeat content-box, 
            /* linear-gradient(-45deg, #ffffff00 0 45%, #eef10aff 45% 55%, #ffffff00 55% 100%), */
            linear-gradient(
                90deg, #eef10aff 0 calc(20vw/9.4), 
                white calc(20vw/9.4) calc(32vw/9.4), 
                #ffffff00 calc(20vw/9.4) 100%
            ),
            linear-gradient(0deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%),
            linear-gradient(180deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%),
            linear-gradient(270deg, #333333ff 0 calc(3vw/9.4), #ffffff00 calc(3vw/9.4) 100%)
            ;
    }    
}




.footer {
    color: white;
    margin-top: 36px;
    padding-right: 80px;
    padding-left: 220px;
    padding-top: 36px;
    padding-bottom: 48px;
    font-size: 14px;
    font-weight: 200;
    line-height: 14px;
    background: url("../img/ne-logo-white.svg");
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 48px;
    background-color: #333333ff;
}
@media (max-width: 940px) {
    .footer {
        padding-right: calc(80vw/9.4);
        padding-left: calc(220vw/9.4);
        padding-top: calc(36vw/9.4);
        padding-bottom: calc(48vw/9.4);
        font-size: calc(14vw/9.4);
        line-height: calc(14vw/9.4);
        background-position-x: calc(80vw/9.4);
        background-position-y: calc(48vw/9.4);
        background-size: calc(129vw/9.4) calc(48vw/9.4);
    }
}

.f-menu {
    width: 140px;
    display: inline-block;
    padding-left: 17px;
    padding-top: 6px;
    border-left: 3px solid white;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
@media (max-width: 940px) {
    .f-menu {
        width: calc(140vw/9.4);
        padding-left: calc(17vw/9.4);
        padding-top: calc(6vw/9.4);
        border-left: calc(3vw/9.4) solid white;
        font-size: calc(14vw/9.4);
        line-height: calc(20vw/9.4);
    }
}
.f-menu a {
    color: white;
    display: block;
    text-decoration: none;
}
.f-menu a:hover {
    text-decoration: underline;
}

.law {
    width: 475px;
    text-align: right;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
}
@media (max-width: 940px) {
    .law {
        width: calc(475vw/9.4);
        font-size: calc(12vw/9.4);
        line-height: calc(12vw/9.4);
    }
}

